<!DOCTYPE html>
<html>
  <head>
    <title>API列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <style type="text/css">
        .APIContainer{
          margin-bottom: 5px;
          margin-top: 15px;
          font-size: 15px;
          margin-left: 28px;
          border-left: solid 5px rgba(0,128,0,0.3);
          padding-left: 5px;
          border-bottom: solid 1px rgb(240,240,240);
          border-top: solid 1px rgb(240,240,240);
        }
        .section-container{
          margin-left: 5px;
        }

        .key{
          font-size: 16px;
        }      
        .value{
          margin-bottom: 10px;
          padding-left: 20px;
        } 
        .title{
          font-size: 17px;
          margin-bottom: 15px;
          margin-top: 10px;
        }
    </style>    
  </head>
  <body>
  <div style="margin-top: 5px; margin-bottom: 10px; font-size: 16px; margin-left: 5px; border-bottom: solid 2px rgba(128,128,128, 0.2); padding-bottom: 12px; border-top: solid 10px rgba(230,230,230,0.2); padding-top: 10px; padding-left: 10px;">API列表

  <div style="margin-top: 15px;">
      <div class="key" style="margin-left:15px; ">POST的HEADER设置</div>
      <div class="value" style="margin-left: 15px;">contentType:application/json</div>
  </div>
  </div>




  <div class="section-container">
    <div class="section-title" style="padding-left: 10px;font-size: 21px;">生产厂商相关</div>
      <div class = "APIContainer" >
          <div class="title">1.获取厂商列表</div>
          <div class="key">链接</div>
          <div class="value">/producerList</div>
          <div class="key">参数</div>
          <div class="value">
            无
          </div>
          <div class="key">返回</div>
          <div class="value">
               [{"producerCode":"microsoft","producerName":"微软","note":"美国微软","timeStamp":"2014-05-02 14:25:07"}]
          </div>
          <div class="key">说明</div>
          <div class="value">
             producerCode:厂商识别码；producerName:厂商名称；timeStamp:时间；note:备注说明
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">2.添加厂商</div>
          <div class="key">链接</div>
          <div class="value">/addProducer</div>
          <div class="key">参数</div>
          <div class="value">
            {"producerCode":"microsoft","producerName":"微软","note":"美国微软"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               添加成功：ok；重复添加：duplicated；异常错误：error
          </div>
          <div class="key">说明</div>
          <div class="value">
             producerCode:厂商识别码；producerName:厂商名称；note:备注说明
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">3.删除厂商</div>
          <div class="key">链接</div>
          <div class="value">/removeProducer</div>
          <div class="key">参数</div>
          <div class="value">
            {"producerCode":"microsoft"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               添加成功：ok；异常错误：error
          </div>
          <div class="key">说明</div>
          <div class="value">
             producerCode:厂商识别码；
          </div>
      </div>

  </div>

  <div class="section-container">
    <div class="section-title" style="padding-left: 10px;font-size: 21px;">产品类型列表</div>
      <div class = "APIContainer" >
          <div class="title">1.获取产品类型列表</div>
          <div class="key">链接</div>
          <div class="value">/listTypeInfo</div>
          <div class="key">参数</div>
          <div class="value">
            无
          </div>
          <div class="key">返回</div>
          <div class="value">
               [{"productCode":"01","productName":"xbox","producerCode":"microsoft","timeStamp":"2014-05-02 15:29:43","note":"xbox360"}]
          </div>
          <div class="key">说明</div>
          <div class="value">
             productCode：产品类型编码；producerCode:厂商识别码；productName:产品类型名称；timeStamp:时间；note:备注说明
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">2.获取产品类型列表（扩展板）</div>
          <div class="key">链接</div>
          <div class="value">/productTypeInfoExtend</div>
          <div class="key">参数</div>
          <div class="value">
            无
          </div>
          <div class="key">返回</div>
          <div class="value">
               [{"productCode":"01","productName":"xbox","producerCode":"microsoft","timeStamp":"2014-05-02 15:29:43","note":"xbox360","producerName":"微软"}]
          </div>
          <div class="key">说明</div>
          <div class="value">
             productCode：产品类型编码；producerCode:厂商识别码；productName:产品类型名称；timeStamp:时间；note:备注说明;producerName:厂商名称
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">3.添加新产品类型</div>
          <div class="key">链接</div>
          <div class="value">/addTypeInfo</div>
          <div class="key">参数</div>
          <div class="value">
            {"productCode":"01","productName":"xbox","producerCode":"microsoft","note":"xbox360"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               添加成功：ok；重复添加：duplicated；异常错误：error
          </div>
          <div class="key">说明</div>
          <div class="value">
             productCode：产品类型编码；producerCode:厂商识别码；productName:产品类型名称；note:备注说明
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">4.删除产品类型</div>
          <div class="key">链接</div>
          <div class="value">/removeTypeInfo</div>
          <div class="key">参数</div>
          <div class="value">
            {"productCode":"01"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               添加成功：ok；异常错误：error
          </div>
          <div class="key">说明</div>
          <div class="value">
             productCode：产品类型编码；
          </div>
      </div>
  </div>

  <div class="section-container">
    <div class="section-title" style="padding-left: 10px;font-size: 21px;">产品列表</div>

      <div class = "APIContainer" >
          <div class="title">1.获取当前产品列表</div>
          <div class="key">链接</div>
          <div class="value">/productlist</div>
          <div class="key">参数</div>
          <div class="value">
            无
          </div>
          <div class="key">返回</div>
          <div class="value">
               [{"productEPC":"0000000000001","productCode":"02","timeStamp":"2014-05-02 15:57:18"}]
          </div>
          <div class="key">说明</div>
          <div class="value">
             productEPC：产品编码:productCode:产品类型编码；timeStamp:时间；
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">2.添加新产品</div>
          <div class="key">链接</div>
          <div class="value">/addProduct</div>
          <div class="key">参数</div>
          <div class="value">
               {"productEPC":"0000000000001","productCode":"02"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               添加成功：ok；重复添加：duplicated；异常错误：error
          </div>
          <div class="key">说明</div>
          <div class="value">
             productEPC：产品编码；productCode：产品类型编码；
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">3.删除产品</div>
          <div class="key">链接</div>
          <div class="value">/removeProduct</div>
          <div class="key">参数</div>
          <div class="value">
               {"productEPC":"0000000000001"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               添加成功：ok；异常错误：error
          </div>
          <div class="key">说明</div>
          <div class="value">
             productEPC：产品编码；
          </div>
      </div>
  </div>

  </body>
</html>