﻿<html>
<head>
    <title>EPC公共信息管理系统</title>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <!-- <link rel="stylesheet" href="__PUBLIC__/960.css" /> -->

    <link href="/stylesheets/index-theme.css" rel="stylesheet" type="text/css" />
    <script src="/javascripts/jquery.min.js" type="text/javascript"></script> 

    <style type="text/css">
        html,html body
        {
            font-family:宋体;
            font-size:13px;
        }
        h2
        {
            font-family: "Trebuchet MS",Arial,sans-serif;
        }
        p
        {
            line-height:22px;
        }
        #information {
            display: block;
            font-size: 25px;
            font-weight: normal;
            font-family: "Graduate";
            margin: 2em auto;
        }
    </style>
</head>
<body>
  <div class = "caption">
    <h2>EPC公共信息管理系统 </h2>
    <p>欢迎使用EPC公共信息管理系统！</p>
  </div>

<!-- <div style="position: absolute; left:20px; top:240px; width:225px;height:300px;">
        <span class="information">
          <strong>{$system_name}</strong> 
          <p style="color: #BFDFFF;left:285px;top:180px;">{$system_description}</p>
        </span>
</div> -->
 
    
    <script type="text/javascript">
      $(function(){
          // var image_container = $("#image_container");
          // dsp();
      });

      function dsp() {
        var win = document.getElementById("image_container");

        var availWidth = window.screen.availWidth;
        var availHeight = window.screen.availHeight;
        var scrollTop = document.documentElement.scrollTop;
        var scrollLeft = document.documentElement.scrollLeft;
        var height = win.offsetHeight;
        var width = win.offsetWidth;

        var reLeft = scrollLeft + (availWidth + 220 - width) / 2 - 220;//220为左边菜单的宽度
        // var reLeft = scrollLeft + (availWidth - width) / 2;
        var reTop = scrollTop + (availHeight - height) / 2 - 100;

        with (win.style) {
          left = reLeft + "px";
          top = reTop + "px";
        }
      }      
    </script>    
       
</body>
</html>
